*.iml
.kotlin/
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build-logic/convention/build/
build-logic/build/
build-logic/.gradle/
google-services.json
output-metadata.json
firebase-service-account.json
*.aab
*.apk
*.dm